In [1]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
warnings.filterwarnings(action = "ignore")

In [2]:
df= pd.read_csv('glass.csv')

In [3]:
df.shape

(214, 11)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      214 non-null    int64
 1   RI      214 non-null    float64
 2   Na      214 non-null    float64
 3   Mg      214 non-null    float64
 4   Al      214 non-null    float64
 5   Si      214 non-null    float64
 6   K       214 non-null    float64
 7   Ca      214 non-null    float64
 8   Ba      214 non-null    float64
 9   Fe      214 non-null    float64
 10  Type    214 non-null    int64
dtypes: float64(9), int64(2)
memory usage: 18.5 KB

In [5]:
df.describe()

,Id,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,107.500000,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,61.920648,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.000000,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,54.250000,1.516523,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,107.500000,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,160.750000,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,214.000000,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [6]:
df.isnull().sum()

Id      0
RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [7]:
df.head(3)

   Id       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1

In [8]:
df['Type'].value_counts()#unbalanced data set

2    76
1    70
7    29
3    17
5    13
6     9
Name: Type, dtype: int64

In [9]:
X=df.iloc[:,1:10]
Y=df.iloc[:,10]
Y

0      1
1      1
2      1
3      1
4      1
      ..
209    7
210    7
211    7
212    7
213    7
Name: Type, Length: 214, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X,Y, test_size = .3, random_state = 3)

In [11]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler

In [12]:
s = StandardScaler()
s.fit(X_train, y_train)
X_train = s.transform(X_train)
X_test = s.transform(X_test)

In [13]:
class_weights={2:76*216/(76*6),1:70*216/(6*70),7:29*216/(6*29),3:17*216/(6*17),5:13*216/(6*13),6:9*216/(6*9)}

In [14]:
model = DecisionTreeClassifier(random_state=3,class_weight=class_weights,max_depth=6,min_samples_split=0.1)
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight={1: 36.0, 2: 36.0, 3: 36.0, 5: 36.0,
                                     6: 36.0, 7: 36.0},
                       max_depth=6, min_samples_split=0.1, random_state=3)

In [15]:
model.get_params()

{'ccp_alpha': 0.0,
 'class_weight': {2: 36.0, 1: 36.0, 7: 36.0, 3: 36.0, 5: 36.0, 6: 36.0},
 'criterion': 'gini',
 'max_depth': 6,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 0.1,
 'min_weight_fraction_leaf': 0.0,
 'presort': 'deprecated',
 'random_state': 3,
 'splitter': 'best'}

In [16]:
ypred = model.predict(X_test)
ypred

array([1, 1, 7, 2, 2, 7, 7, 2, 1, 7, 1, 2, 1, 3, 5, 2, 2, 7, 1, 2, 7, 7,
       5, 1, 3, 2, 7, 2, 1, 2, 1, 3, 5, 2, 1, 7, 2, 5, 5, 1, 7, 2, 2, 2,
       7, 2, 1, 1, 7, 5, 1, 1, 1, 2, 1, 7, 1, 1, 1, 2, 2, 2, 3, 5, 1],
      dtype=int64)

In [17]:
model.score(X_test, y_test)

0.7230769230769231

In [18]:
model.get_depth()

6

In [19]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

In [20]:
max_depth=np.linspace(1,10,10)

In [21]:
grid = {'max_depth': max_depth, 'min_samples_split':np.linspace(.1,1,10)}

In [30]:
gscv = GridSearchCV(estimator=model, param_grid = grid,cv=5,scoring='accuracy')

In [31]:
gscv.fit(X_train,y_train)

GridSearchCV(cv=5,
             estimator=DecisionTreeClassifier(class_weight={1: 36.0, 2: 36.0,
                                                            3: 36.0, 5: 36.0,
                                                            6: 36.0, 7: 36.0},
                                              max_depth=6,
                                              min_samples_split=0.1,
                                              random_state=3),
             param_grid={'max_depth': array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.]),
                         'min_samples_split': array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])},
             scoring='accuracy')

In [32]:
gscv.best_params_

{'max_depth': 6.0, 'min_samples_split': 0.1}